<!-- BASE LAYOUT - Sidebar, Header and (#CONTENT) -->
<app-header></app-header>
<mat-drawer-container class="sidenav-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side"  disableClose="true" opened="true">
        <!--Sidenav content-->
        <button mat-mini-fab (click)="isExpanded = !isExpanded" color="warn" style="margin: 10px;">
            <mat-icon aria-label="Menu">menu</mat-icon>
        </button>
        
        <mat-nav-list>
            <mat-list-item>
                <mat-icon mat-list-icon>person</mat-icon>
                <h4 mat-line *ngIf="isExpanded">Management A</h4>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>assignment</mat-icon>
                <h4 mat-line *ngIf="isExpanded">Management B</h4>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>domain</mat-icon>
                <h4 mat-line *ngIf="isExpanded">Management C</h4>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>folder_shared</mat-icon>
                <h4 mat-line *ngIf="isExpanded">Management X</h4>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>

    <div class="sidenav-content">
        <!--Main Content-->
        <!-- Toggle button logic for closing sidenav completely -->
        <!-- <button color="accent" type="button" mat-raised-button (click)="drawer.toggle()">
            Toggle sidenav
        </button> -->
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>