<mat-tab-group [selectedIndex]="selectedIndex" (selectedIndexChange)="selectedIndex = $event;" animationDuration="0ms"
    class="mt-2">
    @for (tab of tabs; track tab; let index = $index) {
    <mat-tab [label]="tab">
        <ng-template mat-tab-label>
            <span class="tab-label">{{tab}}</span>
            <button mat-icon-button (click)="removeTab(index)" [disabled]="tabs.length === 1">
                <mat-icon aria-label="Close Tab">close</mat-icon>
            </button>
        </ng-template>

        <!-- TAB 1 -->
        <div class="container" *ngIf="index == 0">
            <span class="text-primary">Summary Result for Scan Date : 1/10/23 - 1/11/23</span>
        </div>
        <!-- https://stackoverflow.com/questions/59719985/angular-material-table-add-dynamic-column-headers -->

        <table mat-table [dataSource]="summaries" class="mat-elevation-z0" *ngIf="index == 0">
            <ng-container matColumnDef="row">
                <th mat-header-cell *matHeaderCellDef> Row </th>
                <td mat-cell *matCellDef="let summary"> {{summary.row}} </td>
            </ng-container>

            <ng-container matColumnDef="scanDate">
                <th mat-header-cell *matHeaderCellDef>
                    <input type="text"
                        placeholder="Scan Date"
                        aria-label="Scan Date"
                        matNativeControl
                        class="fdx-input curved row-header">
                </th>
                <td mat-cell *matCellDef="let summary"> {{summary.scanDate}} </td>
            </ng-container>

            <ng-container matColumnDef="locationId">
                <th mat-header-cell *matHeaderCellDef>
                    <input type="text"
                        placeholder="Location ID"
                        aria-label="Location ID"
                        matNativeControl
                        class="fdx-input curved row-header">
                </th>
                <td mat-cell *matCellDef="let summary"> {{summary.locationId}} </td>
            </ng-container>

            <ng-container matColumnDef="fedexId">
                <th mat-header-cell *matHeaderCellDef>
                    <input type="text"
                        placeholder="FedEx ID"
                        aria-label="FedEx ID"
                        matNativeControl
                        class="fdx-input curved row-header">
                </th>
                <td mat-cell *matCellDef="let summary"> {{summary.fedexId}} </td>
            </ng-container>

            <ng-container matColumnDef="orgCd">
                <th mat-header-cell *matHeaderCellDef>
                    <input type="text"
                        placeholder="Org Cd"
                        aria-label="Org Cd"
                        matNativeControl
                        class="fdx-input curved row-header">
                </th>
                <td mat-cell *matCellDef="let summary"> {{summary.orgCd}} </td>
            </ng-container>

            <ng-container matColumnDef="rejectReason">
                <th mat-header-cell *matHeaderCellDef>
                    <input type="text"
                        placeholder="Reject Reason"
                        aria-label="Reject Reason"
                        matNativeControl
                        class="fdx-input curved row-header">
                </th>
                <td mat-cell *matCellDef="let summary"> {{summary.rejectReason}} </td>
            </ng-container>

            <ng-container matColumnDef="rejectCount">
                <th mat-header-cell *matHeaderCellDef>
                    <input type="text"
                        placeholder="Reject Count"
                        aria-label="Reject Count"
                        matNativeControl
                        class="fdx-input curved row-header">
                </th>
                <td mat-cell *matCellDef="let summary"> {{summary.rejectCount}} </td>
            </ng-container>

            <ng-container matColumnDef="totalCount">
                <th mat-header-cell *matHeaderCellDef>
                    <input type="text"
                        placeholder="Total Count"
                        aria-label="Total Count"
                        matNativeControl
                        class="fdx-input curved row-header">
                </th>
                <td mat-cell *matCellDef="let summary"> {{summary.totalCount}} </td>
            </ng-container>

            <!-- <ng-container matColumnDef="item-description">
                <th mat-header-cell *matHeaderCellDef> Name of the item purchased </th>
            </ng-container>

            <ng-container matColumnDef="cost-description">
                <th mat-header-cell *matHeaderCellDef> Cost of the item in USD </th>
            </ng-container> -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <!-- <tr mat-header-row *matHeaderRowDef="displayedActionColumns" class="example-second-header-row">
            </tr> -->

            <tr mat-row (click)="onRowClicked(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator #paginator
            *ngIf="index == 0"
            class="fdx-paginator"
            (page)="handlePageEvent($event)"
            [length]="50"
            [pageSize]="10"
            [showFirstLastButtons]="true"
            [pageSizeOptions]="[5,10,25]"
            [pageIndex]="0">
        </mat-paginator>

        <!-- REMAINING TABS -->
        <div class="container" *ngIf="index != 0">
            <span class="text-primary">Breakdown for fedex ID: 0005275418 Reject Reason: INVALID FEDEX (02)</span>
        </div>

        <table mat-table [dataSource]="summaries" class="mat-elevation-z0" *ngIf="index == -1">
            <ng-container matColumnDef="row">
                <th mat-header-cell *matHeaderCellDef> Row </th>
                <td mat-cell *matCellDef="let summary"> {{summary.row}} </td>
            </ng-container>

            <ng-container matColumnDef="scanDate">
                <th mat-header-cell *matHeaderCellDef>
                    <input type="text"
                        placeholder="Scan Date"
                        aria-label="Scan Date"
                        matNativeControl
                        class="fdx-input curved row-header">
                </th>
                <td mat-cell *matCellDef="let summary"> {{summary.scanDate}} </td>
            </ng-container>

            <ng-container matColumnDef="locationId">
                <th mat-header-cell *matHeaderCellDef>
                    <input type="text"
                        placeholder="Location ID"
                        aria-label="Location ID"
                        matNativeControl
                        class="fdx-input curved row-header">
                </th>
                <td mat-cell *matCellDef="let summary"> {{summary.locationId}} </td>
            </ng-container>

            <ng-container matColumnDef="fedexId">
                <th mat-header-cell *matHeaderCellDef>
                    <input type="text"
                        placeholder="FedEx ID"
                        aria-label="FedEx ID"
                        matNativeControl
                        class="fdx-input curved row-header">
                </th>
                <td mat-cell *matCellDef="let summary"> {{summary.fedexId}} </td>
            </ng-container>

            <ng-container matColumnDef="orgCd">
                <th mat-header-cell *matHeaderCellDef>
                    <input type="text"
                        placeholder="Org Cd"
                        aria-label="Org Cd"
                        matNativeControl
                        class="fdx-input curved row-header">
                </th>
                <td mat-cell *matCellDef="let summary"> {{summary.orgCd}} </td>
            </ng-container>

            <ng-container matColumnDef="rejectReason">
                <th mat-header-cell *matHeaderCellDef>
                    <input type="text"
                        placeholder="Reject Reason"
                        aria-label="Reject Reason"
                        matNativeControl
                        class="fdx-input curved row-header">
                </th>
                <td mat-cell *matCellDef="let summary"> {{summary.rejectReason}} </td>
            </ng-container>

            <ng-container matColumnDef="rejectCount">
                <th mat-header-cell *matHeaderCellDef>
                    <input type="text"
                        placeholder="Reject Count"
                        aria-label="Reject Count"
                        matNativeControl
                        class="fdx-input curved row-header">
                </th>
                <td mat-cell *matCellDef="let summary"> {{summary.rejectCount}} </td>
            </ng-container>

            <ng-container matColumnDef="totalCount">
                <th mat-header-cell *matHeaderCellDef>
                    <input type="text"
                        placeholder="Total Count"
                        aria-label="Total Count"
                        matNativeControl
                        class="fdx-input curved row-header">
                </th>
                <td mat-cell *matCellDef="let summary"> {{summary.totalCount}} </td>
            </ng-container>

            <!-- <ng-container matColumnDef="item-description">
                <th mat-header-cell *matHeaderCellDef> Name of the item purchased </th>
            </ng-container>

            <ng-container matColumnDef="cost-description">
                <th mat-header-cell *matHeaderCellDef> Cost of the item in USD </th>
            </ng-container> -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <!-- <tr mat-header-row *matHeaderRowDef="displayedActionColumns" class="example-second-header-row">
            </tr> -->

            <tr mat-row (click)="onRowClicked(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator #paginator
            *ngIf="index == -1"
            class="fdx-paginator"
            (page)="handlePageEvent($event)"
            [length]="50"
            [pageSize]="10"
            [showFirstLastButtons]="true"
            [pageSizeOptions]="[5,10,25]"
            [pageIndex]="0">
        </mat-paginator>

    </mat-tab>
    }
</mat-tab-group>