<div class="container">
    <h2 class="text-primary">Reject Queue</h2>
    <form class="location-search-form mb-2">
        <input type="text"
            placeholder="LOCATION CODE"
            aria-label="Location Code"
            matNativeControl
            [formControl]="locationControl"
            class="fdx-input mr-s1">
        <button (click) = "onLocationCodeSearch()" mat-flat-button color="accent fdx-button">SEARCH</button>      
    </form>
</div>

<mat-accordion *ngIf="isLocationSearched" class="fdx-accordian" multi>
    <mat-expansion-panel expanded = "true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Query Rejection Scan
            </mat-panel-title>
        </mat-expansion-panel-header>

        <form [formGroup] = "queryRejectScanForm" (submit) = "queryRejectScanFormOnSubmit()">
            <div class="d-flex flex-column">
                <input type="text"
                    placeholder="Location ID"
                    aria-label="Location ID"
                    matNativeControl
                    formControlName = "locationId"
                    class="fdx-input curved mt-1">
                <input type="text"
                    placeholder="*From Date"
                    aria-label="From Date"
                    matNativeControl
                    formControlName = "fromDate"
                    class="fdx-input curved mt-1">
                <input type="text"
                    placeholder="*To Date"
                    aria-label="To Date"
                    matNativeControl
                    formControlName = "toDate"
                    class="fdx-input curved mt-1">
                <input type="text"
                    placeholder="FedEx ID"
                    aria-label="FedEx ID"
                    matNativeControl
                    formControlName = "fedexId"
                    class="fdx-input curved mt-1">
                <input type="text"
                    placeholder="Org CD"
                    aria-label="Org CD"
                    matNativeControl
                    formControlName = "orgCd"
                    class="fdx-input curved mt-1">
                <button type="submit" mat-flat-button color="accent fdx-button curved mt-1">SUBMIT</button>
            </div>
        </form>       
    
    </mat-expansion-panel>
</mat-accordion>
