
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// CUSTOM FONT
@font-face {
  font-family: 'inter-font';
  src: url('assets/fonts/Inter/Inter-Regular.ttf');
}

$inter-typography: mat.define-typography-config(
 $font-family: "inter-font"
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// CUSTOM PALETTES

$md-fdxprimary: (
    50 : #eae3f1,
    100 : #cab9dd,
    200 : #a68ac6,
    300 : #825baf,
    400 : #68379d,
    500 : #4d148c,
    600 : #461284,
    700 : #3d0e79,
    800 : #340b6f,
    900 : #25065c,
    A100 : #af8eff,
    A200 : #8b5bff,
    A400 : #6728ff,
    A700 : #550fff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-fdxaccent: (
    50 : #ffede0,
    100 : #ffd1b3,
    200 : #ffb380,
    300 : #ff944d,
    400 : #ff7d26,
    500 : #ff6600,
    600 : #ff5e00,
    700 : #ff5300,
    800 : #ff4900,
    900 : #ff3800,
    A100 : #ffffff,
    A200 : #fff4f2,
    A400 : #ffc9bf,
    A700 : #ffb4a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

// $reject-ui-primary: mat.define-palette(mat.$indigo-palette);
$reject-ui-primary: mat.define-palette($md-fdxprimary);

// TODO fix which is next most used color to accent or secondary palette (naming convention)
// $reject-ui-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$reject-ui-accent: mat.define-palette($md-fdxaccent);

// The warn palette is optional (defaults to red).
$reject-ui-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$reject-ui-theme: mat.define-light-theme((
  color: (
    primary: $reject-ui-primary,
    accent: $reject-ui-accent,
    warn: $reject-ui-warn,
  ),
  typography: $inter-typography,
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($reject-ui-theme);

/* You can add global styles to this file, and also import other style files */
/* Global Custom Styles */

/* Root variables to use throughout application */

:root {
  --primary: #4d148c;
  --accent: #ff6600;
  --mdc-snackbar-container-color: var(--primary);
  --mdc-list-list-item-label-text-color: #404040de;
}

html, body { min-height: 100vh; }
body { margin: 0; }
body { margin: 0; font-family: 'inter-font', "Helvetica Neue", sans-serif; }

/* TODO add bootstrap for style classes - Bootstrap Alternative styles */

.w- {
  &100 {
    width: 100%;
  }
}

.d- {
  &flex {
    display: flex !important;
  }
  &inline-block {
    display: inline-block !important;
  }
}

.position- {
  &absolute {
    position: absolute !important;
  }
  &relative {
    position: relative !important;
  }
}

.flex- {
  &column {
    flex-direction: column;
  }
  &row {
    flex-direction: row;
  }
}

.justify-content-{
  &center {
    justify-content: center;
  }
  &between {
    justify-content: space-between;
  }
  &around {
    justify-content: space-around;
  }
}

.align-items-{
  &center {
    align-items: center;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.m {
  &l- {
    &1 {
      margin-left: 1rem;
    }
    &s1 {
      margin-left: 0.3rem;
    }
  }
  &r- {
    &1 {
      margin-right: 1rem;
    }
    &s1 {
      margin-right: 0.3rem;
    }
  }
  &t- {
    &1 {
      margin-top: 1rem;
    }
    &s1 {
      margin-top: 0.3rem;
    }
    &2 {
      margin-top: 1.5rem;
    }
  }
  &b- {
    &1 {
      margin-bottom: 1rem;
    }
    &s1 {
      margin-bottom: 0.3rem;
    }
    &2 {
      margin-bottom: 1.5rem;
    }
  }
}

.text- {
  &primary {
    color: var(--primary);
  }
  &accent {
    color: var(--accent);
  }
  &muted {
    color: #5e5e5e;
  }
}

/* TODO : setup primary, accent colors as css variables to use everywhere */
.bg- {
  &primary {
    background-color: var(--primary);
  } 
  &accent {
   background-color: var(--accent);
  } 
}

/* Bootstrap Alternative styles ends */

.mat-mdc-raised-button {
  color: white !important;
}

/* TODO : set background color through palette color */
.mat-drawer {
  background-color: #4D148C1A !important;
  border: none !important;
}

.mat-expansion-panel {
  border-radius: 0 !important;
  border-bottom-left-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
  box-shadow: none !important;
  outline: none !important;
  .mat-expansion-panel-header {
    height: 30px !important;
    border-radius: 0 !important;
    background-color: var(--accent) !important;
    .mat-expansion-indicator {
      &::after {
        color: white !important;
      }
    }
    .mat-expansion-panel-header-title{
      color: white !important;
    }
  }
}

mat-drawer-container {
  min-height: 100vh;
  background-color: #eaeaea !important;
}

.sidenav-icons {
  width: 30px;
  height: 28px;
}

.mat-toolbar {
  height: 90px !important;
  align-items: center;
  justify-content: space-between;
}

.container {
  background-color: white;
  padding: 20px;
}

.header- { 
  &logo {
    height: 40px;
    margin-left: 0.5rem;
  }
  &search-form {
    position: relative;
    &>img{
      position: absolute;
      width: 20px;
      height: 20px;
      bottom: 0;
      top: 0;
      left: 0.5rem;
      margin: auto;
    }
  } 
  &searchbar {
    background-color: var(--primary);
    border: 2px solid white;
    border-radius: 100px;
    height: 30px;
    outline: none;
    color: white;
    padding-left: 32px;
    width: 25vw;
    &:focus-visible {
      outline: none;
    }
    &::before {
      position: absolute;
      width: 40px;
      height: 40px;
      top: 0;
      right: 0;
    }
  }
  &user-info-container {
    &>img {
      width: 50px;
      height: 50px;
    }
  }
}

.fdx- {
  &button {
    border-radius: 0 !important;
    color: white !important;
    min-width: 100px !important;
    &.curved {
      height: 22px !important;
      border-radius: 6px !important;
      width: 100px !important;
    }
  }
  &input {
    padding: 8px 12px;
    border: 2px solid rgba(0,0,0,0.2);
    outline: none;
    width: 15vw;
    &.row-header {
      width: 80px;
    }
    &.curved {
      border: 1px solid rgba(0,0,0,0.2);
      border-radius: 6px !important;
      height: 10px !important;
    }
    &:focus-visible {
      outline: none;
    }
  }
}

// TABS
.mdc-tab {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: white !important;
  border: 2px solid var(--primary) !important;
  flex-grow: 0 !important;
  .mdc-tab__content {
    width: 100%;
    >.mdc-tab__text-label {
      width: 100%;
      justify-content: space-between;
      color: var(--primary) !important;
      >span.tab-label {
        font-size: 16px;
      }
    }
  }
  &.mdc-tab--active {
    background-color: var(--primary) !important;    
    .mdc-tab__text-label {
      color: white !important;
    }
  }
}

// TABLES
.mat-mdc-table {
  .mdc-data-table__cell, .mdc-data-table__header-cell {
    padding: 0px 10px;
  }
  tr {
    &:not(.mat-mdc-header-row){
      cursor: pointer;
      &:nth-child(odd) {
        background: #EFEFEF;
      }
      &:hover {
       background-color: #e4e1e1; 
      }
    } 
    .mat-mdc-header-cell,
    .mat-mdc-cell {
      text-align: center !important;
      border: 1px solid #dedede;
    }
  } 
}

.mat-datepicker-toggle {
  >.mdc-icon-button {
    padding: 0;
    height: 26px;
    width: 26px;
  }
  .mat-datepicker-toggle-default-icon {
    height: 20px !important;
    width: 20px !important;
  }
  &.fdx-date-toggle {
    position: absolute;
    right: 4px;
    bottom: -1px;
  }
}

